@{
    ViewData["Title"] = "Software de Inseminadores";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Este programa foi desenvolvido por Beto Adam, para suporte entrar em contato pelo email beto_adam2@gmail.com</p>
