@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Agro Work</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo a Agro Work</h2>
        <p>
            AgroWork é uma aplicação de inseminadores para controle de cadastro
        </p>
    </div>
    <div class="col-md-4">
        <h2>Veja aqui os diferentes semens</h2>
        <p>Consulta a seguir os diferentes tipos de semens</p>
        <p><a class="btn btn-default" href="http://www.crvlagoa.com.br/semensexado.asp?orig=3&id=84">Semên sexado &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aumentar produção de leite</h2>
        <p>Você pode ver abaixo como aumentar sua produção de leite</p>
        <p><a class="btn btn-default" href="http://www.canalrural.com.br/noticias/mercado-e-cia/saiba-como-aumentar-producao-leite-pouco-tempo-63020">Veja como aumentar! &raquo;</a></p>
    </div>
</div>